
.box-widget{
  .top-title{
    h4{
      font-size: 24px;
      font-weight: 500;
      color: #123453;
    }
    h2{
      font-size: 32px;
      font-weight: 700;
      color: #E29C21;
    }
    p{
      font-weight: 400;
      font-size: 14px;
      color: #667C8F;
    }
  }
  .contents{
    .info-name{
      img{
        padding-right: 20px;
      }
      span{
        font-size: 16px;
        font-weight: 700;
        color: #123453;
      }
      padding: 1.5rem 2rem;
      border: 1px solid #DAE7F3;
      background-color: #fff;
      cursor: pointer;
      height: 104px;
      border-radius: 16px;
    }
    .info-name.active{
      border: 1px solid #2B6ED4;
      background-color: #F8F8F8;
    }
    .input-group{
      span.input-group-text{
        font-weight: 400;
        font-size: 14px;
        color: #667C8F;
        border-radius: 8px;
      }
      span.input-group-text.disable-back{
        background-color: #EDF1F7;
        border-left: 0;
        border-radius: 8px;
      }
      input.form-control{}
    }
    h6.small_title,
    h5.small_title{
      font-size: 18px;
      font-weight: 500;
      color: #465767;
      display: block;
      margin-bottom: 1.5rem;
    }
    .form-group{
      label{
        font-size: 16px;
        font-weight: 400;
        color: #123453;
        display: block;
      }
      .form-check{
        label{
          font-size: 15px;
          font-weight: 400;
          color: #123453;
        }
      }
      input[type="file"]{
        height: auto;
      }
    }
    select.form-control,
    input.form-control{
      background-color: #EDF1F7;
      border-radius: 8px;
      font-size: 15px;
      font-weight: 500;
      height: 56px;
      color: #000;
    }
    .spacer_form{
      padding: 1rem 0;
    }
    button.btns_default{
      width: 158px;
      height: 56px;
      padding: 14px 16px;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
      background: #2B6ED4;
      border-radius: 12px;
    }
  }
  .bottoms{
    button.btns_default{
      width: 158px;
      height: 56px;
      padding: 14px 16px;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
      background: #2B6ED4;
      border-radius: 12px;
    }
    button.btns_default.btns-back{
      color: #2B6ED4;
      background: #fff;
      border: 1px solid #DAE7F3;
    }

    border-top: 2px solid #DAE7F3;
  }
}
.transition{
  transition: visibility 0s, opacity 0.5s linear;
  visibility: visible;
  opacity: 1;
}

.card.set_default{
    .card-header {
      h4, h5 {
        display: block;
        margin: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 18px;
        color: #465767;
      }
      background-color: transparent;
      border-bottom: 0;
      padding: 1.6rem 1.5rem 0;
    }
    box-shadow: 0px 0px 32px rgba(124, 147, 168, 0.24);
    border-radius: 16px;
    .card-body{
      padding: 1.5rem;
      table.table{
        tr>td{
          font-weight: 400;
          font-size: 14px;
          color: #465767;
          padding-left: 0;
          padding-right: 0;
        }
      }
      .checks_info{
        label{
          font-weight: 400;
          font-size: 14px;
          color: #465767;
          a{
            font-weight: 700;
            color: #2B5BA5;
          }
        }
      }
      ol.groups_data{
        li.list-group-item{
          border: 1px solid #DAE7F3;
          border-radius: 16px;
          background-color: #fff;
          margin-bottom: 1.2rem;
          span.names{
            font-weight: 500;
            font-size: 16px;
            color: #465767;
            display: block;
          }
          p.prices{
            font-weight: 400;
            font-size: 14px;
            color: #465767;
          }
        }
      }
      clear: both;
    }
    clear: both;
}
button.btns_def_link2{
  width: 132px;
  max-width: 100%;
  background: #FFFFFF;
  border: 1px solid #DAE7F3;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  color: #2B5BA5;
  text-decoration: none;
}
.outer_breadcrumbs{
  background: #234B71 url("/../../subhead_orange.png") right bottom no-repeat;
  border-radius: 16px;
  padding: 22px;
  color: #fff;
  .breadcrumb-item + .breadcrumb-item::before{
    content: "";
    background: url("/../../v_toright.png") no-repeat;
    width: 6px;
    height: 10px;
    margin: 10px 1rem 0 0.5rem;
  }
  ol.breadcrumb{
    li.breadcrumb-item{
      a{
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        span.numb{
          width: 28px;
          height: 28px;
          background-color: #fff;
          border-radius: 16px;
          display: inline-block;
          text-align: center;
          padding: 0;
          position: relative;
          top: -1px;
          right: 5px;
          padding-top: 0.3rem;

          font-size: 13px;
          font-weight: 400;
          color: #123453;
        }
      }
      a:hover{
        text-decoration: none;
      }
    }
    li.breadcrumb-item.active{
      a{
        color: #6AA4FF;
        span.numb{
          background-color: #6AA4FF;
          color: #fff;
        }
      }
    }
  }
}

.borderless td, .borderless th {
  border: 0;
}