@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  position: relative;
  max-width: 1099px;
}
.wrapper.homepage{
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #1D588E 0%, #123453 100%);
  .header{
    nav{
      padding: 0;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .footer{
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    .lgo_footer{
      span{
        font-size: 16px;
        font-weight:400;
        color: #fff;
        display: inline-block;
        padding: 0 1rem;
      }
    }
  }

  .main_content{
    .box-wrap-form{
      .inner{
        .top-info{
          h2{
            display: block;
            line-height: 1.1;
            font-size: 52px;
            font-weight: 700;
            color: #fff;
            span{
              color: #E29C21;
            }

            margin-bottom: 1rem;
          }
          p{
            display: block;
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            span{
              color: #E29C21;
            }
          }

          display: block;
        }

        .forms-box{
          form{
            max-width: 628px;
            input{
              width: 483px;
              height: 56px;
              background: #FFFFFF;
              border-radius: 12px 0px 0px 12px;
            }
            button.btn{
              width: 145px;
              height: 56px;

              background: rgba(255, 255, 255, 0.2);
              /* Neutral/Light 1 */

              border: 1px solid #FFFFFF;
              border-radius: 0px 12px 12px 0px;

              font-size: 16px;
              font-weight: 500;
              color: #fff;
            }
          }
          p.info{
            display: block;
            margin-top: 15px;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
            color: #DAE7F3;
            line-height: 1;
          }
        }
      }
    }
  }
}
.maw528{
  max-width: 528px;
}
.main_content.set_center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78vh;
}
.main_content.set_center_full{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.pos_fly_women{
  position: absolute;
  width: 346px;
  height: auto;

  right: 15%;
  bottom: 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.wrapper.thankyou{
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right bottom;
  .box-wrap-info{
    .inner{
      .logo{
        margin: 0;
      }
      h2{
        font-size: 52px;
        font-weight: 700;
        color: #123453;
        span{
          color: #E29C21;
        }
        line-height: 1.2;
        margin-bottom: 1.2rem;
      }
      p{
        font-size: 18px;
        font-weight: 400;
        color: #123453;
      }
    }
  }
  clear: both;
}
a.btn-defaults_set,
button.btn-defaults_set{
  width: 252px;
    height: 56px;
    line-height: 40px;
    background: #FFFFFF;
    /* Neutral/Light 3 */

    border: 1px solid #DAE7F3;
    border-radius: 12px;

    color: #2B6ED4;
    font-size: 16px;
    font-weight: 500;
}
a.btn-defaults_set.btn-blue,
button.btn-defaults_set.btn-blue{
  background-color: #2B6ED4;
  color: #fff;
}

a.btn-defaults_set2,
button{
  &.btn-defaults_set2{
    width: 298px;
    height: 48px;
    background: #DAE7F3;

    border: 1px solid transparent;
    border-radius: 12px;

    color: #667C8F;
    font-weight: 500;
    font-size: 14px;
  }
  &.btn-defaults_set2.btn-blue{
    background-color: #2B6ED4;
    color: #fff;
  }
}


header.insides{
  position: relative;
  .backs_btns{
    a.btn{
      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      img{
        position: relative;
        top: -2px;
      }
    }
  }
  .logo_head{
    a.btn{}
  }
  background: #234B71 url("/../../left_custm_head.png") top left no-repeat;
  padding-top: 22px;
  height: 98px;
  border-bottom: 6px solid #E29C21;
  clear: both;
}
.maw725{
  max-width: 725px;
}
@import "forms";
@import "responsive";
