@media screen and (max-width: 1290px) {

}
@media screen and (max-width: 1030px) {
  .pos_fly_women{
    right: 2%;
    width: 300px;
    height: auto;
  }
}
@media screen and (max-width: 980px) {

  .pos_fly_women.f_mobile{
    position: relative;
    width: 200px;
    right: inherit;
    display: block;
    margin: 0 auto 1.5rem;
  }
  .main_content.set_center{
    text-align: center;
  }
  .lgo_footer,
  .logo-head {
    text-align: center;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box form{
    margin: 0 auto;
  }

  .wrapper.thankyou .box-wrap-info .inner h2{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  .main_content.set_center_full{
    height: 60vh;
  }
  .wrapper.thankyou .box-wrap-info .inner h2{
    text-align: center;
    line-height: 1.5;
  }
  .wrapper.thankyou .box-wrap-info .inner{
    text-align: center;
  }
  header.insides{
    .logo_head{
      max-width: 165px;
      text-align: right;
      float: right;
      padding-top: 0.25rem;
    }
    height: 96px;
  }
  .box-widget .top-title h4{
    font-size: 18px;
  }
  .box-widget .contents .info-name span{
    font-size: 14px;
  }
  .box-widget .contents .info-name{
    padding: 1rem;
    text-align: center;
  }
  .box-widget .contents .info-name img{
    padding-right: 0;
  }
  .box-widget .contents .input-group{
    margin-bottom: 1.5rem;
  }
  .box-widget .top-title h2{
    font-size: 22px;
  }

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 767px) {

  .wrapper.homepage .main_content .box-wrap-form .inner .top-info h2{
    font-size: 32px;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .top-info p{
    font-size: 16px;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .top-info p span{
    display: none;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box form input{
    width: 100%;
    border-radius: 12px 12px 12px 12px;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box p.info{
    font-size: 14px;
    color: #DAE7F3;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box form button.btn{
    width: 100%;
    border-radius: 12px 12px 12px 12px;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .top-info{
    margin-bottom: 2.5rem !important;
  }
  .wrapper.homepage .main_content{
    margin-top: 1.5rem;
    height: auto;
    margin-bottom: 0.7rem;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box{
    margin-bottom: 2rem;
  }
  .wrapper.homepage .footer{
    position: relative;
    bottom: inherit;
  }

  a.btn-defaults_set, button.btn-defaults_set{
    width: 100%;
  }
  .box-widget .contents .form-group .form-check label{
    font-size: 13px;
  }
  button.btns_def_link2{
    width: 100%;
    margin-top: 0.5rem;
  }
  .outer_breadcrumbs ol.breadcrumb li.breadcrumb-item a span.numb{
    //display: block;
    margin-bottom: 0.35rem;
  }

  .outer_breadcrumbs{
    background: #234B71 url("/../../subhead_orange2.png") right top no-repeat;
    .breadcrumb-item + .breadcrumb-item{
      padding-left: 3.6rem;
    }
    ol.breadcrumb li.breadcrumb-item a,
    ol.breadcrumb li.breadcrumb-item{
      //width: 33.3%;
      line-height: 1.1;
      text-align: center;
    }
    .breadcrumb-item + .breadcrumb-item::before{
      margin: 10px 0rem 0px -1.5rem;
    }
  }

  .card.set_default.ringkasan {
    margin-top: 25px;
  }
  button.btn.btn-grey.btn-defaults_set2,
  a.btn-defaults_set2.btn-defaults_set2.btn-blue, button.btn-defaults_set2.btn-blue{
    width: 100%;
  }

  .box-widget .contents .info-name span{
    font-size: 14px;
  }

  .wrapper.homepage{
    height: auto;
    .footer{
      padding-bottom: 20px;
    }
  }

}
@media screen and (max-width: 414px) {

}
