@media screen and (max-width: 1290px) {

}
@media screen and (max-width: 1030px) {
  .pos_fly_women{
    right: 2%;
    width: 300px;
    height: auto;
  }
}
@media screen and (max-width: 980px) {

  .pos_fly_women.f_mobile{
    position: relative;
    width: 200px;
    right: inherit;
    display: block;
    margin: 0 auto 1.5rem;
  }
  .main_content.set_center{
    text-align: center;
  }
  .lgo_footer,
  .logo-head {
    text-align: center;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box form{
    margin: 0 auto;
  }

  .wrapper.thankyou .box-wrap-info .inner h2{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  .main_content.set_center_full{
    height: 60vh;
  }
  .wrapper.thankyou .box-wrap-info .inner h2{
    text-align: center;
    line-height: 1.5;
  }
  .wrapper.thankyou .box-wrap-info .inner{
    text-align: center;
  }

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 767px) {

  .wrapper.homepage .main_content .box-wrap-form .inner .top-info h2{
    font-size: 32px;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .top-info p{
    font-size: 16px;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .top-info p span{
    display: none;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box form input{
    width: 100%;
    border-radius: 12px 12px 12px 12px;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box p.info{
    font-size: 14px;
    color: #DAE7F3;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box form button.btn{
    width: 100%;
    border-radius: 12px 12px 12px 12px;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .top-info{
    margin-bottom: 2.5rem !important;
  }
  .wrapper.homepage .main_content{
    margin-top: 1.5rem;
    height: auto;
    margin-bottom: 0.7rem;
  }
  .wrapper.homepage .main_content .box-wrap-form .inner .forms-box{
    margin-bottom: 2rem;
  }
  .wrapper.homepage .footer{
    position: relative;
    bottom: inherit;
  }

  a.btn-defaults_set, button.btn-defaults_set{
    width: 100%;
  }

}
@media screen and (max-width: 414px) {

}
